table th{

	text-align: center;
}
/********************
Album Info
*********************/

.albuminfo{

	text-align: center;
}

/********************
Band Members
*********************/

ul, li {

	font-style: italic;
	}



