/********************
General
*********************/

body {
font-family: 'Open Sans', sans-serif;  
background: #222; 
}

a {
text-decoration: none;
}

/********************
Header
*********************/

header {

	padding: 10px
}

header h1 {
	text-align: center;
	margin: 10px;
	color: #999;
	font-size: 2em;
}

/********************
Navigation
*********************/

nav ul {

	margin: auto;
	text-align: left-center;

}

nav ul li {

	display: inline-block;
	list-style-type: none;
	padding: 15px;
	color: #999;
	font-size: .90em;

}

/********************
Footer
*********************/


footer {
  text-align: center;
  clear: both;
  margin: 10px;
  color: #999;
 
}

/********************
Restraunt Description
*********************/

#rDescription {

text-align: center;
margin: auto;
width: 55%;
padding: 5px;
color: white;
font-size: .75em;

}

/********************
Photo
*********************/

#skeletonPhoto{

	text-align: center;
	padding: 10px 0px 10px 0px

}

/********************
Menu
*********************/


table {

	width: 100%;
	border: none;
	/*background: red;*/
	text-align: center;
	margin-top: 10px;
	color: #297373;
	margin-bottom: 10px;

}
tr td {

	width: 33%;
	padding: 20px;
	font-size: .75em;

}
#row2 {

	margin-bottom: 200px;
}


/********************
Contact Us
*********************/

fieldset {
	color: #999;
	width: 100%;
	/*background-color: red;*/
	border: 0;
}

.textboxes label {

	width: 30%;
	float: left;
	text-align: right;
	margin: 5px;

}

#send_button {

	text-indent: 35%;
}




/********************
colors
*********************/

/* Links */
a {
color: #6ab47b;
}


/* nav link */
nav a, nav a:visited {
color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
color: #297373;
}
