/********************
General
*********************/

body {
font-family: 'Open Sans', sans-serif;  
background: #222; 
}

a {
text-decoration: none;
}

/********************
Header
*********************/

header {

	padding: 10px
}

header h1 {
	text-align: center;
	margin: 10px;
	color: #999;
	font-size: 2em;
}

/********************
Navigation
*********************/

nav ul {

	margin: auto;
	text-align: left-center;

}

nav ul li {

	display: inline-block;
	list-style-type: none;
	padding: 15px;
	color: #999;
	font-size: .90em;

}

/********************
Footer
*********************/


footer {
  text-align: center;
  clear: both;
  margin: 10px;
  color: #999;
 
}

/********************
Restraunt Description
*********************/

#rDescription {

text-align: center;
margin: auto;
width: 55%;
padding: 5px;
color: white;
font-size: .75em;

}

/********************
Photo
*********************/

/*#skeletonPhoto{

	text-align: center;
	padding: 10px 0px 10px 0px

}*/


/********************
colors
*********************/

/* Links */
a {
color: #6ab47b;
}


/* nav link */
nav a, nav a:visited {
color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
color: #297373;
}
