



/********************
Header
*********************/

table {

    width: 100%;
    text-align: center;
	}

table, th, td {

	border: 1px solid black;
	border-collapse: collapse;
}	

th {

	background-color: gray;
}

td {

	font-style: italic;
	background-color: orange;
}

#tracks {

	font-size: 1.5em;
}


/********************
Album Info
*********************/

.albuminfo{

	text-align: center;
}

/********************
Band Members
*********************/

ul, li {

	font-style: italic;
	}



